* {
    font-family: Helvetica;
    text-align: center;
}

.box {
    width: auto;
    border: 2px solid black;
    background-color: seashell;
    padding: 10px;
    margin: 10px;
}

table {
    border-collapse: collapse;
    background-color: seashell;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin-left: 100px;
    margin-right: 100px;
}

th, tr, td {
    border: 2px solid black;
    padding: 10px;
}

th {
    background-color: gold;
}

.hoverable {
    padding-bottom: 10px;
    transition: padding-bottom 1s ease;
}

.hoverable:hover {
    padding-bottom: 50px;
}

/*td.hoverable > p{
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s ease;
}

td.hoverable > p:hover {
    visibility: visible;
    opacity: 1;
}*/

a {
    color:purple;
    transition: color 1s ease;
}

a:hover {
    color: red;
}


