* {
    font-family: Helvetica, serif;
    text-align: center;
}

.box {
    width: auto;
    border: 2px solid black;
    background-color: seashell;
    padding-left: 1px;
    padding-right: 1px;
    margin: 10px;
}

h1 {
    font-family: Gravity, serif;
    letter-spacing: 1px;
    font-size: 45px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background: linear-gradient(to right, red, darkorange, yellow, green, blue, violet);
    -webkit-background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%, 100% {
        background-position: 0;
    }

    50% {
        background-position: 100%;
    }
}

/* https://stackoverflow.com/questions/54702124/rainbow-text-animation-using-only-css */

body {
    background: snow;
}

table {
    border-collapse: collapse;
    background-color: seashell;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin-left: 100px;
    margin-right: 100px;
}

th, tr, td {
    border: 2px solid black;
    padding: 10px;
}

th {
    background-color: gold;
}

.hoverable {
    padding-left: 10px;
    padding-right: 10px;
    transition: padding-left 1s ease, padding-right 1s ease;
}

.hoverable:hover {
    padding-left: 50px;
    padding-right: 50px;
}

a {
    color: purple;
    transition: color 1s ease;
}

a:hover {
    color: red;
}


