* {
    font-family: Helvetica, Ariel, serif;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

html {
    width: auto;
    border-left: 200px solid lightgrey;
    border-right: 200px solid lightgrey;
    height: 1000px;
    overflow: auto;
}

.box {
    width: 1000px;
    border: 2px solid #000000;
    background-color: papayawhip;
    padding-left: 1px;
    padding-right: 1px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0 0 5px 2px lightgrey;
    -webkit-border-radius: 10px;
}

h1.rainbow {
    font-family: Gravity, Helvetica, serif;
    font-size: 48px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background: linear-gradient(to right, red, orange, yellow, green, blue, violet);
    -webkit-background-clip: text;
    color: transparent;
    animation: text_gradient_effect 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes text_gradient_effect {
    0%, 100% {
        background-position: 0;
    }

    50% {
        background-position: 100%;
    }
}

/* https://stackoverflow.com/questions/54702124/rainbow-text-animation-using-only-css */

body {
    background: snow;
    margin-left: 100px;
    margin-right: 100px;
}

main {
    padding: 20px;
}

p.hide {
    padding: 10px;
    opacity: 1.0;
    animation: change_opacity 10s ease-out forwards;
}

@keyframes change_opacity {
    0% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.0;
        -webkit-user-select: none;
    }
}

table {
    border-collapse: collapse;
    background-color: seashell;
    margin-left: auto;
    margin-right: auto;
}

th, tr, td {
    border: 2px solid black;
    padding: 10px;
    font-weight: bold;
}

th {
    background-color: gold;
}

a { /* It flashes red to black (EXPERIMENTAL) */
    font-family: Helvetica, serif;
    background: linear-gradient(to right, red, black);
    -webkit-background-clip: text;
    color: transparent;
    animation: text_gradient_effect 6s ease-in-out infinite;
    background-size: 400% 100%;
}

a:hover {
    color: blue;
}


