* {
    font-family: Helvetica, Ariel, serif;
    font-size: 22px;
}

html {
    width: auto;
    border-left: 200px solid grey;
    border-right: 200px solid grey;
    height: 1000px;
    overflow: auto;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

div {
    text-align: center;
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    background: papayawhip;
    border: 2px solid black;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
}