@charset "UTF-8";
/* CSS Document */

html {
    width: auto;
    border-left: 200px solid lightgrey;
    border-right: 200px solid lightgrey;
    height: 1000px;
    overflow: auto;
}

.box {
    width: 500px;
    border: 2px solid #000000;
    background-color: papayawhip;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0 0 5px 2px lightgrey;
    -webkit-border-radius: 10px;
}

a {
    font-size: 24px;
    text-decoration: none;
}

body {
    font-family: Helvetica, "Open Sans", sans-serif;
    padding: 25px 20px;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 42px;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
}

h2 {
    font-size: 30px;
    text-align: center;
    background: #ea260d;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .2);
    line-height: 100%;
    color: white;
    padding: 10px;
    margin: 10px auto;
    display: inline-block;
}

h3 {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

/* Set the maximum width of your burger */
.burger {
    max-width: 500px;
    margin: 0 auto;
}

/* This center-aligns all of the ingredients */
.burger > div {
    margin: 0 auto;
}