@charset "UTF-8";
/* CSS Document */


body {
    font-family: Helvetica, "Open Sans", sans-serif;
    padding: 25px 20px;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 30px;
    text-align: center;
    background: #ea260d;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .2);
    line-height: 100%;
    color: white;
    padding: 10px;
    margin: 0 auto;
    display: inline-block;
}

h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin: 10px 0 30px 0;
}

/* Set the maximum width of your burger */
.burger {
    max-width: 500px;
    margin: 0 auto;
}

/* This center-aligns all of the ingredients */
.burger > div {
    margin: 0 auto;
}