* {
    font-family: Helvetic, Ariel, sans-serif;
}

html {
    width: auto;
    border-left: 200px solid #242582;
    border-right: 200px solid #242582;
    height: 1000px;
    overflow: auto;
}

div.box {
    text-align: center;
    padding: 20px;
    width: 700px;
    border: 2px solid #000000;
    background-color: papayawhip;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 0 2px 2px black;
}

h1 {
    font-family: Helvetica, serif;
    background: linear-gradient(to right, red, black);
    -webkit-background-clip: text;
    color: transparent;
    animation: text_gradient_effect 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes text_gradient_effect {
    0%, 100% {
        background-position: 0;
    }
    50% {
        background-position: 100%;
    }
}


a {
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

a:hover {
    color: red;
    font-size: 26px;
}

img#image {
    width: 600px;
    height: 450px;
    border: 2px solid black;
}


div#dialog-box {
    text-align: center;
    background: white;
    border: 1px solid black;
    width: 500px;
    margin: 10px auto;
}

p#dialog {
    font-family: Roboto Light, sans-serif;
    font-weight: bold;
}

div#inventory {
    text-align: left;
    border: 2px solid black;
    margin: 10px;
    background: seashell;
}

p#inventory-header {
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

img#item {
    width: 150px;
    height: 50px;
    padding: 5px;
}

input[type=text]:hover {
    border: 2px solid #000000;
}

input[type=button] {
    border-radius: 10px;
    border: 1px solid black;
}

input[type=button]:hover {
    border: 2px solid black;
    color: blue;
}


