* {
    font-family: Helvetica, Ariel, sans-serif;
    font-size: 19px;
}

h1 {
    font-size: 34px;
    text-align: center;
}

div.box-header {
    width: 300px;
    margin: 0 auto;
    border: 2px solid black;
    padding: 10px;
    background: papayawhip;
    text-align: center;
}


div#text > p {
    text-align: center;
    font-size: 32px;
}

p.counters {
    margin: 0 0;
    font-size: 14px;
}

p#stats {
    font-weight: bold;
    text-decoration: underline;
}

div.box {
    width: 300px;
    margin: 0 auto;
    border: 2px solid black;
    padding: 10px;
    background: papayawhip;
}