* {
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
}

.box {
    width: auto;
    border: 2px solid black;
    background-color: seashell;
    padding: 10px;
    margin: 10px;
}

/* Box-model from: https://www.w3schools.com/css/css_boxmodel.asp */

table {
    margin-left: 100px;
    margin-right: 100px;
    border-collapse: collapse;
}

th, tr, td {
    padding: 10px;
    border: 2px solid black;
    background-color: seashell;
}

th {
    background-color: khaki;
}

