* {
    color: black;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    user-select: none;
}

div#grid-container {
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-columns: auto auto auto auto;

    margin: 30px auto;
    width: fit-content;
    padding: 10px;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    background-color: darkgrey;

}

div#grid-container > div {
    text-align: center;
    border: 1px solid black;
    padding: 40px;
    background-color: #d5d5d5;
    width: 10px;
    height: 20px;
}

/*div#flex-container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;

    background-color: dodgerblue;

    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 500px;
}

div#flex-container > div {
    margin: 5px 5px;
    padding: 20px;
    background: lightgrey;
    text-align: center;
    width: 25px;
}*/

