* {
    font-family: Helvetica, Ariel, serif;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

div#header-box {
    background: papayawhip;
    border: 1px solid black;
    padding: 20px;
    margin: 10px auto;
    width: 400px;
}

div#click-box {
    background: #add8e6;
    /*background: #f83737;*/
    border: 1px solid black;
    padding: 20px;
    margin: 10px auto;
    width: 400px;
    height: 200px;
}

p#click-status {
    font-family: Gravity, serif;
    font-weight: bold;
    font-size: 48px;
    color: black;
}